.form-control{
    border-radius: 3px;
    width: 300px;

}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 46%;
    top: 20px;
    color: black;
}

.menu a{
    color: white !important;
    text-decoration: none;
}

.menu a:hover{
    color: pink !important;
    text-decoration: none;
}