<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="./assets/img/all.jpg" width="60px" height="60px">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('women')">
                <img src="./assets/img/lady.jpg" width="60px" height="60px">
                <h6>Women</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('men')">
                <img src="./assets/img/men.jpg" width="60px" height="60px">
                <h6>Men</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img src="./assets/img/jewelery.jpg" width="60px" height="60px">
                <h6>Jewelery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> {{item.price}}€</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
                </div>
        </ng-container>    
    </div>
</div>