<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="./assets/img/all.jpg" width="60px" height="60px">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="./assets/img/shirt.jpg" width="60px" height="60px">
                <h6>Shirts</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="./assets/img/jackets.jpg" width="60px" height="60px">
                <h6>Jackets</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="./assets/img/pants.jpg" width="60px" height="60px">
                <h6>Pants</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> {{item.price}}€</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
                </div>
        </ng-container>    
    </div>
</div>