h1 {
    margin-bottom: 40px
}

label {
    color: #333;
    padding-top: 20px;
}

.btn-send {

    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255,255,255,0.4);
    box-shadow: 5px 3px 10px 5px gray;
}

.container{
    padding-bottom: 50px;
    
}
#appContainer{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1));
}

input{
    border:none;
    background-color: rgba(255,255,255,0);
    border-bottom:solid black;

}
select{
    border:none;
    background-color: rgba(255,255,255,0);
    border-bottom:solid black;

}

textarea{
    border:none;
    background-color: rgba(255,255,255,0);
    border-bottom:solid black;

}